.login-form {
    max-width: 300px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
 
  .content{
    margin: 0 auto;
    width: 400px;
    margin-top: 200px;
    border: 1px solid #cccccc;
    padding: 50px;
  }
  form{
    margin: 0 auto;
  }